* {
    box-sizing: border-box;
}

button {
    -webkit-appearance: none;
    padding: 1px 6px;
    border-width: 2px;
    border-style: none;
    border-color: buttonface;
    border-image: initial;
}

button:focus {
    outline: none;
}

.hide {
    display: none !important;
}

.max-container{
    max-width: 1800px;
}

.body-tag {
    margin: 0;
    background-color: #fde5e5;
    font-family: 'PT Sans', sans-serif;
}

.body-tag.active-quiz {
    background-color: #fae2c3;
    color: #d93e35;
}

.main-header {
    padding: 20px 10px;
}

.main-title {
    color: #343c24;
    margin: 0;
    border-top: 5px solid #343c24;
    border-bottom: 5px solid #343c24;
    padding: 10px 0;
    font-style: italic;
}

.quiz-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    color: #d93e35;
    border-top: 5px solid #d93e35;
    border-bottom: 5px solid #d93e35;
    padding: 10px 0;
    font-style: italic;
}

.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.active-quiz .main-header {
    display: none;
}

/*choice container styles */
.question-answer-choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.choice-container {
    background: blue;
    border: 1px solid black;
    display: inline-block;
    width: 300px;
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 20px;
}

.choice-container:last-child {
    margin-right: 0;
}

.choice-title {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.inner-choice-wrapper {
    margin: 20px 5px 5px 5px;
    height: 400px;
    text-align: center;
    padding: 10px;
    position: relative;
}

.circle-icon-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-icon {
    height: 250px;
    width: 250px;
    border: 10px solid;
    border-radius: 50%;
}

.orange-choice {
    background-color: #fa8e3f;
}

.orange-choice .inner-choice-wrapper {
    background-color: #64495b;
    color: #ffe6b4;
}

.orange-choice .circle-icon {
    border-color: #582a2a;
    background-color: #582a2a;
}

 #choiceOne:checked ~ .orange-choice .circle-icon {
    background-color: transparent;
}

.green-choice {
    background-color: #749378;
}

.green-choice .inner-choice-wrapper {
    background-color: #e3d3c2;
    color: #759579;
}

.green-choice .circle-icon {
    border-color: #e76954;
    background-color: #e76954;
}

 #choiceTwo:checked ~ .green-choice .circle-icon {
    background-color: transparent;
}

.red-choice {
    background-color: #f7473d;
}

.red-choice .inner-choice-wrapper {
    background-color: #fba640;
    color: #380907;
}

.red-choice .circle-icon {
    border-color: #f7d79e;
    background-color: #f7d79e;
}

 #choiceThree:checked ~ .red-choice .circle-icon {
    background-color: transparent;
}

.purple-choice {
    background-color: #49282c;
}

.purple-choice .inner-choice-wrapper {
    background-color: #685485;
    color: #f8673e;
}

.purple-choice .circle-icon {
    border-color: #49282c;
    background-color: #49282c;
}

 #choiceFour:checked ~ .purple-choice .circle-icon {
    background-color: transparent;
}

/*end choice container styles*/

/* front page card styles */
.quiz-card {
    box-shadow: 0px 0px 10px grey;
    display: block;
    width: 23%;
    min-width: 200px;
    height: 200px;
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.blue-card {
    background-color: #081b4d;
    color: #f74d3d;
}

.green-card {
    background-color: #235a38;
    color: #ffe142;
}

.red-card {
    background-color: #f74d3d;
    color: #fde5e5;
}
.quiz-card__title {
    margin: 0;
    font-size: 20px;
}

.yellow-card {
    background-color: #ffe142;
    color: #5269f9;
}

.quiz-modal {
    padding: 0 10px;
}

.quiz-modal__close {
    font-size: 36px;
    font-weight: bold;
    color: #343c24;
    margin-right: 5px;
    cursor: pointer;
}

.quiz-title {
    margin: 0;
}

/*loader from https://codepen.io/hafizfattah/pen/AbBtc */
.loader-container {
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2a2b;
}

.loader-title {
    margin-bottom: 50px;
    font-size:16px;
    color: #d93e35;
}

.loader-circle {
	width:16px;
	height:16px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-10px;
	animation: 3s infinite linear;
	
}

.loader-first {
	background:#E84C3D;
	animation: kiri 1.2s infinite linear;
}

.loader-second {
	background:#F1C40F;
	z-index:100;
}

.loader-third {
	background:#2FCC71;
	animation:kanan 1.2s infinite linear;
}

@keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }
   
	50%{-webkit-transform:translateX(-20px);
	}
	
	100%{-webkit-transform:translateX(20px);
	z-index:200;
	}
}

@keyframes kiri {
     0% {-webkit-transform:translateX(-20px);
	z-index:200;
    }
	50%{-webkit-transform:translateX(20px);
	}
	100%{-webkit-transform:translateX(-20px);
	}
}

/* end loader */

/* start answer alert*/
.answer-alert {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0,0,0, .3);
    width: 100%;
    min-height: 100%;
    color: #fff;
}

.answer-alert-inner {
    padding: 20px 15px;
    border-radius: 6px;
    font-size: 20px;
    margin: 0 30px;
}

.body-tag.alert-warning .answer-alert-inner {
    background-color: #f74d3d;
}

.body-tag.alert-success .answer-alert-inner {
    background-color: #37a91b;
}

.answer-message {
    margin: 0;
}
/* end answer alert*/

.quiz-button {
    margin-top: 5px;
    padding: 10px 8px;
    color: #fff;
    background-color: #49282c;
    border-radius: 6px;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 450px) {
    .quiz-card {
        width: 100%;
    }
}