* {
    box-sizing: border-box;
}

button {
    -webkit-appearance: none;
    padding: 1px 6px;
    border-width: 2px;
    border-style: none;
    border-color: buttonface;
    border-image: initial;
}

button:focus {
    outline: none;
}

.hide {
    display: none !important;
}

.max-container{
    max-width: 1800px;
}

.body-tag {
    margin: 0;
    background-color: #000;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}

.main-header {
    padding: 20px 10px;
}

.main-title {
    margin: 0;
    padding: 10px 0;
    font-style: italic;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size: 50px;
}

.quiz-container {
    flex: 1 1 auto;
}

.quiz-modal-header {
    width:45%;
    margin: 0 20px 0 0;
    position: relative; 
}

.quiz-question {
    margin: 30px 0;
    max-width: 96%;
}

.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.active-quiz .main-header {
    display: none;
}

/*choice container styles */

.choice-container {
    display: block;
    margin: 10px 0;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    min-height: 23%;
}

.choice-container:first-child {
    margin-top: 0;
}

.choice-title {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.inner-choice-wrapper {
    display: flex;
    align-items: center;
}

.circle-icon-container {
    display: flex;
    margin: 10px;
}

.circle-icon {
    height: 50px;
    width: 50px;
    border: 10px #000 solid;
    border-radius: 50%;
    display: inline-block;
    background-color: #000;
}

 #choiceOne:checked ~ .inner-choice-wrapper .circle-icon,
 #choiceTwo:checked ~ .inner-choice-wrapper .circle-icon,
 #choiceThree:checked ~ .inner-choice-wrapper .circle-icon,
 #choiceFour:checked ~ .inner-choice-wrapper .circle-icon {
    background-color: #fff;
}
/*end choice container styles*/

/* front page card styles */
.quiz-card {
    /*box-shadow: 0px 0px 10px grey;*/
    color: #000;
    background-color: #fff;
    display: block;
    width: 23%;
    min-width: 200px;
    height: 200px;
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 1 1 auto;
}

/*

.blue-card {
    background-color: #081b4d;
    color: #f74d3d;
}

.green-card {
    background-color: #235a38;
    color: #ffe142;
}

.red-card {
    background-color: #f74d3d;
    color: #fde5e5;
}

.yellow-card {
    background-color: #ffe142;
    color: #5269f9;
}

*/

.quiz-card__title {
    margin: 0;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

.quiz-modal {
    padding: 10px;
}

.quiz-modal__close {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.quiz-wrapper {
    display: flex;
}

.quiz-title {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size: 50px;
    max-width: 95%;
}

/*loader from https://codepen.io/hafizfattah/pen/AbBtc */
.loader-container {
	position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: opacity .3s ease-out;
}

.fade-loader {
    opacity: 0;
}

.loader-title {
    margin-bottom: 80px;
    font-size:30px;
    letter-spacing: 1px;
    font-family: 'Bangers', cursive;
    color: #d93e35;
}

.loader-circle {
	width:16px;
	height:16px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-10px;
    animation: 3s infinite linear;
    background-color: #fff;
	
}

.loader-first {
	animation: kiri 1.2s infinite linear;
}

.loader-second {
	z-index:100;
}

.loader-third {
    animation:kanan 1.2s infinite linear;
}

@keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }
   
	50%{-webkit-transform:translateX(-20px);
	}
	
	100%{-webkit-transform:translateX(20px);
	z-index:200;
	}
}

@keyframes kiri {
     0% {-webkit-transform:translateX(-20px);
	z-index:200;
    }
	50%{-webkit-transform:translateX(20px);
	}
	100%{-webkit-transform:translateX(-20px);
	}
}

/* end loader */

/* start answer alert*/

.answer-alert-inner {
    padding: 20px 15px;
    border-radius: 6px;
    font-size: 20px;
    margin: 10px 0 0 0;
}

.body-tag.alert-warning .answer-alert-inner {
    background-color: #d93e35;
}

.body-tag.alert-success .answer-alert-inner {
    background-color: #37a91b;
}

.answer-message {
    margin: 0;
    font-weight: bold;
}
/* end answer alert*/

.quiz-button {
    margin-top: 5px;
    padding: 10px 8px;
    color: #fff;
    background-color: #d93e35;
    border-radius: 6px;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}

.next-button {
    background-color: #000;
}

.results-header {
    font-size: 30px;
    margin: 0;
}

.results-message {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.body-tag.quiz-end .quiz-question,
.body-tag.quiz-end .quiz-questions-container {
    display: none;
}

@media (max-width: 791px) {
    .quiz-card {
        width: 100%;
    }

    .quiz-container {
        margin: 10px 0 0 0;
    }

    .quiz-wrapper {
        flex-direction: column;
    }

    .quiz-modal-header {
        width: 100%;
    }

}