* {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.max-container{
    max-width: 1800px;
}

.body-tag {
    margin: 0;
    background-color: #fde5e5;
    font-family: 'PT Sans', sans-serif;
}

.body-tag.active-quiz {
    background-color: #fae2c3;
    color: #d93e35;
}

.main-header {
    padding: 20px 10px;
}

.main-title {
    color: #343c24;
    margin: 0;
    border-top: 5px solid #343c24;
    border-bottom: 5px solid #343c24;
    padding: 10px 0;
    font-style: italic;
}

.quiz-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    color: #d93e35;
    border-top: 5px solid #d93e35;
    border-bottom: 5px solid #d93e35;
    padding: 10px 0;
    font-style: italic;
}

.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}

.active-quiz .main-header {
    display: none;
}

/*choice container styles */
.question-answer-choices {
    display: flex;
    justify-content: space-between;
}

.choice-container {
    background: blue;
    border: 1px solid black;
    display: inline-block;
    width: 300px;
}

.inner-choice-wrapper {
    margin: 20px 5px 5px 5px;
    padding: 50px;
    height: 400px;
    position: relative;
}

.circle-icon-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-choice {
    background-color: #fa8e3f;
}

.orange-choice .inner-choice-wrapper {
    background-color: #64495b;
    color: #ffe6b4;
}

.orange-choice .circle-icon {
    border-color: #582a2a;
}

/*end choice container styles*/

/* front page card styles */
.quiz-card {
    box-shadow: 0px 0px 10px grey;
    display: block;
    width: 25%;
    min-width: 200px;
    height: 200px;
    text-decoration: none;
    padding: 10px;
}

.blue-card {
    background-color: #081b4d;
    color: #f74d3d;
}

.green-card {
    background-color: #235a38;
    color: #ffe142;
}

.red-card {
    background-color: #f74d3d;
    color: #fde5e5;
}
.quiz-card__title {
    margin: 0;
}

.yellow-card {
    background-color: #ffe142;
    color: #5269f9;
}

.quiz-modal {
    transition-property: bottom, opacity;
    transition: .2s ease-in-out;
    padding: 0 10px;
}

.quiz-modal__close {
    font-size: 36px;
    font-weight: bold;
    color: #343c24;
}

.hide-quiz {
    opacity: 0;
    top: -100%;
}

.reveal-quiz {
    display: block;
    top: 0;
    opacity: 1;
    z-index: 1;
}

.quiz-title {
    margin: 0;
}

.quiz-container {
}

/*loader from https://codepen.io/hafizfattah/pen/AbBtc */
.loader-container {
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, .9);
}

.loader-title {
    margin-bottom: 50px;
	font-size:16px;
}

.loader-circle {
	width:16px;
	height:16px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-10px;
	animation: 3s infinite linear;
	
}

.loader-first {
	background:#E84C3D;
	animation: kiri 1.2s infinite linear;
}

.loader-second {
	background:#F1C40F;
	z-index:100;
}

.loader-third {
	background:#2FCC71;
	animation:kanan 1.2s infinite linear;
}

@keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }
   
	50%{-webkit-transform:translateX(-20px);
	}
	
	100%{-webkit-transform:translateX(20px);
	z-index:200;
	}
}

@keyframes kiri {
     0% {-webkit-transform:translateX(-20px);
	z-index:200;
    }
	50%{-webkit-transform:translateX(20px);
	}
	100%{-webkit-transform:translateX(-20px);
	}
}

/* end loader */

/* start answer alert*/
.answer-alert {
    color: #fff;
    padding: 10px 5px;
}

.alert-warning {
    background-color: rgb(156, 0, 8);
}

.alert-success {
    background-color: rgb(5, 153, 0);
}

.answer-message {
    margin: 0;
}
/* end answer alert*/